.btn-group {
    margin-left: 2.7rem;
}

.btn-info {
    border-radius: 50px;
    background-color: rgb(61, 141, 194);
}

.btn-info:hover {
    background-color: rgb(169, 169, 169);
}

.btn-outline-secondary {
    border-radius: 50px;
}