.btn-group {
    margin-left: 8.7rem;
}

.btn-info {
    border-radius: 50px;
    background-color: crimson;
}

.btn-info:hover {
    background-color: rgb(169, 169, 169);
}

.btn-outline-secondary {
    border-radius: 50px;
}